db-migration/db/seed/name_strings__genus.csv filter=lfs diff=lfs merge=lfs -text
db-migration/db/seed/name_strings__species.csv filter=lfs diff=lfs merge=lfs -text
db-migration/db/seed/name_strings__subspecies.csv filter=lfs diff=lfs merge=lfs -text
db-migration/db/seed/name_strings__author_words.csv filter=lfs diff=lfs merge=lfs -text
db-migration/db/seed/name_string_indices.csv filter=lfs diff=lfs merge=lfs -text
db-migration/db/seed/name_strings.csv filter=lfs diff=lfs merge=lfs -text
db-migration/db/seed/name_strings__uninomial.csv filter=lfs diff=lfs merge=lfs -text
db-migration/db/seed/name_strings__year.csv filter=lfs diff=lfs merge=lfs -text
db-migration/db/seed/data_sources.csv filter=lfs diff=lfs merge=lfs -text
db-migration/db/seed/development/vernacular_string_indices.csv filter=lfs diff=lfs merge=lfs -text
db-migration/db/seed/development/vernacular_strings.csv filter=lfs diff=lfs merge=lfs -text
db-migration/db/seed/development/name_strings__author_words.csv filter=lfs diff=lfs merge=lfs -text
db-migration/db/seed/development/name_strings__genus.csv filter=lfs diff=lfs merge=lfs -text
db-migration/db/seed/development/name_strings__species.csv filter=lfs diff=lfs merge=lfs -text
db-migration/db/seed/development/name_strings__uninomial.csv filter=lfs diff=lfs merge=lfs -text
db-migration/db/seed/development/name_strings__year.csv filter=lfs diff=lfs merge=lfs -text
db-migration/db/seed/development/name_string_indices.csv filter=lfs diff=lfs merge=lfs -text
db-migration/db/seed/development/name_strings.csv filter=lfs diff=lfs merge=lfs -text
db-migration/db/seed/development/name_strings__subspecies.csv filter=lfs diff=lfs merge=lfs -text
